* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/mishima-dojo-stage.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #39FF14;
}

h1 {
  margin: auto;
  display: flex;
  justify-content: center;
}
 
.tekken-logo {
  width: 25%;
  transform: translateX(+15%)
}

.galaga-logo {
  width: 20%;
  transform: translateX(-15%);
}

.vs {
  width: 10%;
}


#game-container {
  height: 700px;
  width: 700px;
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
}

#top-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: none;
  width: 500px;
}

#game-grid {
  height: 500px;
  width: 500px;
}

#game-grid div {
  border: none;
  display: inline-block;
}

#game-grid .player {
  background-image: url('../assets/kazuya-mishima-player1.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#game-grid .galaga-bottom {
  background-image: url('../assets/galaga-bottom.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotateX(180deg);
}

#game-grid .galaga-mid {
  background-image: url('../assets/galaga-mid.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#game-grid .galaga-top {
  background-image: url('../assets/galaga-top.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#game-grid .galaga-boss {
  background-image: url('../assets/galaga-boss.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#game-grid .punch {
  background-image: url('../assets/punch.png');
  background-repeat: no-repeat;
  background-size: contain;
}

